body{
    background-color: burlywood;
    text-align: center;
}
.navbar {
    background-color: gray;
    overflow: hidden;
}
.navbar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.navbar a:hover {
  background-color: #ddd;
  color: black;
}
.navbar a.active {
  background-color: #04AA6D;
  color: white;
}
.navbar-right {
  float: right;
}
a.white{
    color: whitesmoke;
}
.banner{
    background-size: cover;
    color: black;
    margin-top: 20px;
    text-align: center;
    padding: 100px 0px;
}
h1 {
    background-color:darkgoldenrod;
    color: black; 
    text-align: center;
    margin: 0 auto; 
    padding:5px;
    font-size:4vw;
}
h2{
    background-color: darkgoldenrod;
    color: black;
    display: center; 
    text-align: center;
    padding:5px;
    font-size:17px;
}
.calander{
    display: inline-block;
    background-color: darkgoldenrod;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    transition: transform .2s;
}
.map{
    display: inline-block;
    background-color: darkgoldenrod;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    transition: transform .2s;
}
.picture{
    display: inline-block;
    background-color: darkgoldenrod;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    margin: 10px;
    transition: transform .2s;    
}
img{
    width: 68%; 
    height: auto;
    margin: 10px;
    border-radius: 10px;
}
.calander:hover{
    transform: scale(1.02);
}
.map:hover{
    transform: scale(1.02);
}
.picture:hover{
    transform: scale(1.02);
}
h3{
    display: center;
    margin: 0px auto 0px auto; 
    padding:5px;
    font-size:30px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: gray;
    color: black;
    text-align: center;
}